header {
  background-color: #333;
}

section {
  background-color: #ffcc99;
  display: inline;
  text-align: center;
  vertical-align: top;
  width: 100%;
}


h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
}

p {
  font-family: Georgia, serif;
  margin: 10px;
}

img {
  padding: 5px;
  max-width: 100%;
  border: 1px solid #ccc;
}

h1 {
  color: #0066cc;
  text-align: center;
}

a {
  color: #ff6600;
  text-decoration: none;
}

a:visited {
  color: #993366
}

nav a {
  color: #fff;
  padding: 8px 12px;
  background-color: #0066cc;
  text-decoration: none;
}

nav a:hover {
  background-color: #ff6600;
}

#wrapper {
  width: 80%;
  background-color: #FEFAEB;
  margin-right: auto;
  margin-left: auto;
}