header {
  background-color: rgb(243, 205, 79);
}

section {
  background-color: #eba4cd;
  display: inline;
  text-align: center;
  vertical-align: top;
  width: 100%;
}


h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
}

p {
  font-family: Georgia, serif;
  margin: 10px;
}

img {
  padding: 5px;
  max-width: 100%;
  border: 1px solid rgb(238, 170, 227);
}

h1 {
  color: #fa44fa;
  text-align: center;
}

a {
  color: #bc4bd8;
  text-decoration: none;
}

a:visited {
  color: #ec73b0
}

nav a {
  color: rgb(234, 203, 236);
  padding: 8px 12px;
  background-color: #843a86;
  text-decoration: none;
}

nav a:hover {
  background-color: #b672b6;
}

#wrapper {
  width: 100%;
  background-color: #f7df90;
  margin-right: auto;
  margin-left: auto;
}