body {
  font-family: 'Arial', sans-serif;
  text-align: center;
}

#hangman-container {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#hangman-figure {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 200px;
}

.hangman-part {
  width: 20px;
  height: 20px;
  margin: 5px;
  background-color: #333;
}

.hangman-head {
  border-radius: 50%;
  margin-top: -10px;
  background-color: #C79B90; /* Head color */
}

.hangman-body {
  width: 20px;
  height: 60px;
  background-color: #9E7E45; /* Body color */
}

.hangman-left-arm,
.hangman-right-arm,
.hangman-left-leg,
.hangman-right-leg {
  width: 30px;
  height: 10px;
  border-radius: 5px;
  background-color: #F5BE00; /* Limb color */
}

.hangman-left-arm,
.hangman-left-leg {
  margin-left: -5px;
}

.hangman-right-arm,
.hangman-right-leg {
  margin-left: 5px;
}

#word-display {
  margin: 20px 0;
  font-size: 24px;
  color: #753500; /* Word display color */
}

#letters {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

#game-info {
  margin-top: 20px;
}

#hint-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #0C5201; /* Hint button color */
  color: #fff; /* Text color for the hint button */
}
