* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #532d9b; /* Optional background color for the body */
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  grid-template-rows: repeat(3, 1fr);    /* Three equal rows */
  gap: 10px; /* Adjust the gutter as needed */
  width: 300px; /* Optional width for the grid container */
  height: 300px; /* Optional height for the grid container */
  background-color: #ebd50e; /* Optional background color for the grid container */
  padding: 10px; /* Optional padding for the grid container */
}


.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.grid-item span {
  background-color: #68b8ee; /* Replace with your desired background color */
  color: #f11010; /* Replace with your desired font color */
  padding: 10px; /* Optional padding for grid items */
}


