* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #124b3d; /* background color for the body */
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  grid-template-rows: repeat(3, 1fr);    /* 3 equal rows */
  gap: 10px; /* adjust the gutter as needed */
  width: 300px; /* width for the grid container */
  height: 300px; /* height for the grid container */
  background-color: #f5ea8d; /*  background color for the grid container */
  padding: 10px; /* padding for the grid container */
}


.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.grid-item span {
  background-color: #64dabc; /* Replace with your desired background color */
  color: #ecd823; /* Replace with your desired font color */
  padding: 10px; /* padding for grid items */
}


