body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #f1ddc8;
  margin: 0;
  padding: 0;
}

h1 {
  color: #643f1c;
}

.buttons {
  margin: 20px;
}

#rock {
  background-color: #daae5c;
  border: 2px solid #635c4d;
  color: rgb(0, 0, 0);
}

#paper {
  background-color: #f7ca36;
  border: 2px solid #635c4d;
  color: rgb(0, 0, 0);
}

#scissors {
  background-color: #f3ae48;
  border: 2px solid #635c4d;
  color: rgb(0, 0, 0);
}

button {
  padding: 15px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #634d4d;
  color: #fff;
}

#result {
  margin-top: 20px;
  font-size: 20px;
  color: #b16666;
}
