body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #f7ede2; /* Cream background color */
  margin: 0;
  padding: 0;
}

h1 {
  color: #b16666; /* Brown heading color */
}

.buttons {
  margin: 20px;
}

#rock {
  background-color: #b16666; /* Brown */
  border: 2px solid #634d4d; /* Dark Brown border */
  color: #ffd700; /* Gold text color */
}

#paper {
  background-color: #ff8c42; /* Orange */
  border: 2px solid #b16666; /* Brown border */
  color: #fff; /* White text color */
}

#scissors {
  background-color: #ffd700; /* Gold */
  border: 2px solid #634d4d; /* Dark Brown border */
  color: #b16666; /* Brown text color */
}

button {
  padding: 15px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #634d4d; /* Dark Brown hover color */
  color: #fff; /* White text color on hover */
}

#result {
  margin-top: 20px;
  font-size: 20px;
  color: #b16666; /* Brown result text color */
}
